# Dependências
node_modules/

# Builds
dist/
build/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Variáveis de ambiente
.env
.env.local

# Temporários
*.tmp
*.temp
